.pancarte {
  background-color: black;
  height: 50%;
  width: 30rem;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10rem;
  justify-content: center;
  font-family: "Pixel";
}

img {
  margin-top: 1rem;
  height: 10rem;
  width: 11rem;
  border-radius: 10px;
  border: 3px solid white;
}

@media screen and (max-width: 768px) {
  .pancarte {
    width: auto;
    margin-left: 0px;
    margin-top: 10.5rem;
  }
}
