.container {
  position: absolute;
  left: 13rem;
  top: 25%;
}

.pancarte {
  background-color: black;
  height: 50%;
  width: 10rem;
  border: 3px solid white;
  border-radius: 10px;
}

.choix {
  margin-top: 5rem;
  list-style: none;
  font-family: "Pixel";
  color: white;
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
  color: white;
  margin-bottom: 2rem;
}

a:visited {
  color: white;
}
